# 数据库配置
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DB=langfang_shebao
MYSQL_USER=test
MYSQL_PWD=test

PROFILE_PATH=/data/temp/langfang_shebao/profile
LOG_PATH=/data/temp/langfang_shebao/logs

REDIS_HOST=localhost
REDIS_PWD=foobared