<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.shebao.mapper.BenefitDeterminationMapper">

    <resultMap id="BenefitDeterminationPageResult" type="com.ruoyi.shebao.dto.BenefitDeterminationListResp">
        <result property="id" column="id"/>
        <result property="subsidyPersonId" column="subsidy_person_id"/>
        <result property="name" column="name"/>
        <result property="idCardNo" column="id_card_no"/>
        <result property="userCode" column="user_code"/>
        <result property="noticeBatchNo" column="notice_batch_no"/>
        <result property="subsidyType" column="subsidy_type"/>
        <result property="bankName" column="bank_name"/>
        <result property="bankAccount" column="bank_account"/>
        <result property="subsidyStandard" column="subsidy_standard"/>
        <result property="benefitMonths" column="benefit_months"/>
        <result property="benefitAmount" column="benefit_amount"/>
        <result property="approvalStatus" column="approval_status"/>
        <result property="materialStatus" column="material_status"/>
        <result property="paymentPlanGenerated" column="payment_plan_generated"/>
        <result property="submitBy" column="submit_by"/>
        <result property="submitTime" column="submit_time"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <resultMap id="BenefitDeterminationDetailResult" type="com.ruoyi.shebao.dto.BenefitDeterminationDetailResp">
        <result property="id" column="id"/>
        <result property="subsidyPersonId" column="subsidy_person_id"/>
        <result property="noticeBatchNo" column="notice_batch_no"/>
        <result property="noticeDetailId" column="notice_detail_id"/>
        <result property="name" column="name"/>
        <result property="userCode" column="user_code"/>
        <result property="idCardNo" column="id_card_no"/>
        <result property="subsidyType" column="subsidy_type"/>
        <result property="eligibleYear" column="eligible_year"/>
        <result property="eligibleMonth" column="eligible_month"/>
        <result property="benefitStartYear" column="benefit_start_year"/>
        <result property="benefitStartMonth" column="benefit_start_month"/>
        <result property="bankName" column="bank_name"/>
        <result property="bankAccount" column="bank_account"/>
        <result property="bankAccountName" column="bank_account_name"/>
        <result property="subsidyStandard" column="subsidy_standard"/>
        <result property="benefitMonths" column="benefit_months"/>
        <result property="benefitAmount" column="benefit_amount"/>
        <result property="approvalStatus" column="approval_status"/>
        <result property="materialStatus" column="material_status"/>
        <result property="materialZipPath" column="material_zip_path"/>
        <result property="submitBy" column="submit_by"/>
        <result property="submitTime" column="submit_time"/>
        <result property="reviewBy" column="review_by"/>
        <result property="reviewTime" column="review_time"/>
        <result property="reviewRemark" column="review_remark"/>
    </resultMap>

    <select id="selectBenefitDeterminationPage" resultMap="BenefitDeterminationPageResult">
        select bd.id, bd.subsidy_person_id, bd.notice_batch_no, bd.subsidy_type,
               bd.bank_name, bd.bank_account, bd.subsidy_standard, bd.benefit_months,
               bd.benefit_amount, bd.approval_status, bd.material_status, bd.payment_plan_generated,
               bd.submit_by, bd.submit_time, bd.create_time,
               coalesce(bd.id_card_no, sp.id_card_no) as id_card_no,
               sp.name, sp.user_code
        from benefit_determination bd
        left join shebao_subsidy_person sp on bd.subsidy_person_id = sp.id
        where bd.del_flag = '0'
        <if test="req.noticeBatchNo != null and req.noticeBatchNo != ''">
            and bd.notice_batch_no = #{req.noticeBatchNo}
        </if>
        <if test="req.name != null and req.name != ''">
            and sp.name like concat('%', #{req.name}, '%')
        </if>
        <if test="req.idCardNo != null and req.idCardNo != ''">
            and coalesce(bd.id_card_no, sp.id_card_no) like concat('%', #{req.idCardNo}, '%')
        </if>
        <if test="req.subsidyType != null and req.subsidyType != ''">
            and bd.subsidy_type = #{req.subsidyType}
        </if>
        <if test="req.approvalStatus != null and req.approvalStatus != ''">
            and bd.approval_status = #{req.approvalStatus}
        </if>
        <if test="req.materialStatus != null and req.materialStatus != ''">
            and bd.material_status = #{req.materialStatus}
        </if>
        order by bd.create_time desc, bd.id desc
    </select>

    <select id="selectBenefitDeterminationDetail" resultMap="BenefitDeterminationDetailResult">
        select bd.id, bd.subsidy_person_id, bd.notice_batch_no, bd.notice_detail_id,
               bd.subsidy_type, bd.eligible_year, bd.eligible_month, bd.benefit_start_year,
               bd.benefit_start_month, bd.bank_name, bd.bank_account, bd.bank_account_name,
               bd.subsidy_standard, bd.benefit_months, bd.benefit_amount, bd.approval_status,
               bd.material_status, bd.material_zip_path, bd.material_image_paths, bd.submit_by,
               bd.submit_time, bd.review_by, bd.review_time, bd.review_remark,
               coalesce(bd.id_card_no, sp.id_card_no) as id_card_no, sp.name, sp.user_code
        from benefit_determination bd
        left join shebao_subsidy_person sp on bd.subsidy_person_id = sp.id
        where bd.id = #{id}
          and bd.del_flag = '0'
        limit 1
    </select>

    <select id="selectEligibleForPaymentPlan" resultType="com.ruoyi.shebao.domain.BenefitDetermination">
        select bd.id,
               bd.subsidy_person_id,
               bd.subsidy_type,
               bd.benefit_start_year,
               bd.benefit_start_month,
               bd.bank_account,
               bd.bank_account_name,
               bd.subsidy_standard,
               bd.benefit_amount,
               bd.approval_status,
               bd.del_flag
        from benefit_determination bd
        left join shebao_subsidy_person sp on bd.subsidy_person_id = sp.id
        where bd.del_flag = '0'
          and bd.approval_status = 'approved'
        <if test="subsidyType != null and subsidyType != ''">
            and bd.subsidy_type = #{subsidyType}
        </if>
        <if test="benefitStartYear != null">
            and bd.benefit_start_year = #{benefitStartYear}
        </if>
        <if test="benefitStartMonth != null">
            and bd.benefit_start_month = #{benefitStartMonth}
        </if>
        <if test="streetOfficeId != null">
            and sp.street_office_id = #{streetOfficeId}
        </if>
        order by bd.id asc
    </select>
</mapper>
