<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.shebao.mapper.PaymentPlanDetailMapper">

    <insert id="batchInsert">
        insert into shebao_payment_plan_detail
        (plan_id, determination_id, determination_item_id, subsidy_person_id, subsidy_type, street_name, village_name,
         person_name, id_card_no, business_period, payment_month, monthly_amount, supplement_amount,
         supplement_start_month, supplement_end_month, supplement_source, supplement_source_id,
         distribution_amount, distribution_date, grant_org,
         account_name, bank_account, relation_to_insured, source_detail_id, retry_count, retry_status,
         del_flag, create_by, create_time, update_by, update_time, remark)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.planId}, #{item.determinationId}, #{item.determinationItemId}, #{item.subsidyPersonId}, #{item.subsidyType}, #{item.streetName}, #{item.villageName},
             #{item.personName}, #{item.idCardNo}, #{item.businessPeriod}, #{item.paymentMonth}, #{item.monthlyAmount}, #{item.supplementAmount},
             #{item.supplementStartMonth}, #{item.supplementEndMonth}, #{item.supplementSource}, #{item.supplementSourceId},
             #{item.distributionAmount}, #{item.distributionDate}, #{item.grantOrg},
             #{item.accountName}, #{item.bankAccount}, #{item.relationToInsured},
             #{item.sourceDetailId}, ifnull(#{item.retryCount}, 0), #{item.retryStatus},
             #{item.delFlag}, #{item.createBy}, #{item.createTime}, #{item.updateBy}, #{item.updateTime}, #{item.remark})
        </foreach>
    </insert>

    <delete id="deleteByPlanId">
        delete from shebao_payment_plan_detail where plan_id = #{planId}
    </delete>

    <select id="selectByPlanId" resultType="com.ruoyi.shebao.dto.PaymentPlanDetailResp">
        <include refid="selectDetailColumns"/>
        from shebao_payment_plan_detail d
                 left join shebao_payment_plan_detail src on src.id = d.source_detail_id
        where d.plan_id = #{planId}
          and d.del_flag = '0'
        <if test="personName != null and personName != ''">
            and d.person_name like concat('%', #{personName}, '%')
        </if>
        <if test="idCardNo != null and idCardNo != ''">
            and d.id_card_no like concat('%', #{idCardNo}, '%')
        </if>
        order by d.id asc
    </select>

    <select id="selectListByPlanId" resultType="com.ruoyi.shebao.dto.PaymentPlanDetailResp">
        <include refid="selectDetailColumns"/>
        from shebao_payment_plan_detail d
                 left join shebao_payment_plan_detail src on src.id = d.source_detail_id
        where d.plan_id = #{planId}
          and d.del_flag = '0'
        order by d.id asc
    </select>

    <sql id="selectDetailColumns">
        select d.id,
               d.plan_id,
               d.determination_id,
               d.determination_item_id,
               d.subsidy_person_id,
               d.subsidy_type,
               d.street_name,
               d.village_name,
               d.person_name,
               d.id_card_no,
               date_format(d.business_period, '%Y-%m') as business_period,
               d.payment_month,
               d.monthly_amount,
               d.supplement_amount,
               date_format(d.supplement_start_month, '%Y-%m') as supplement_start_month,
               date_format(d.supplement_end_month, '%Y-%m') as supplement_end_month,
               d.supplement_source,
               d.supplement_source_id,
               d.distribution_amount,
               date_format(d.distribution_date, '%Y-%m-%d') as distribution_date,
               d.grant_org,
               d.account_name,
               d.bank_account,
               d.relation_to_insured,
               d.distribution_result,
               d.fail_reason,
               d.source_detail_id as sourceDetailId,
               d.retry_count as retryCount,
               d.retry_status as retryStatus,
               date_format(src.business_period, '%Y-%m') as originalBusinessPeriod
    </sql>

    <update id="markFailedByIdCard">
        update shebao_payment_plan_detail
        set distribution_result = 'failed',
            fail_reason = #{reason}
        where plan_id = #{planId}
          and del_flag = '0'
          and id_card_no = #{idCardNo}
    </update>

    <update id="markRemainingSuccess">
        update shebao_payment_plan_detail
        set distribution_result = 'success'
        where plan_id = #{planId}
          and del_flag = '0'
          and ifnull(distribution_result, '') &lt;&gt; 'failed'
    </update>

    <select id="sumAllAmountByPlanId" resultType="java.math.BigDecimal">
        select ifnull(sum(d.distribution_amount), 0)
        from shebao_payment_plan_detail d
        where d.plan_id = #{planId}
          and d.del_flag = '0'
    </select>

    <select id="sumSuccessAmountByPlanId" resultType="java.math.BigDecimal">
        select ifnull(sum(d.distribution_amount), 0)
        from shebao_payment_plan_detail d
        where d.plan_id = #{planId}
          and d.del_flag = '0'
          and d.distribution_result = 'success'
    </select>

    <select id="sumFailedAmountByPlanId" resultType="java.math.BigDecimal">
        select ifnull(sum(d.distribution_amount), 0)
        from shebao_payment_plan_detail d
        where d.plan_id = #{planId}
          and d.del_flag = '0'
          and d.distribution_result = 'failed'
    </select>

    <select id="selectPreviewDetails" resultType="com.ruoyi.shebao.dto.PaymentPlanDetailResp">
        select null as id,
               null as plan_id,
               bd.id as determination_id,
               bdi.id as determination_item_id,
               bd.subsidy_person_id as subsidy_person_id,
               bdi.subsidy_type,
               sso.street_name,
               svc.village_name,
               sp.name as person_name,
               coalesce(bd.id_card_no, sp.id_card_no) as id_card_no,
               date_format(#{businessPeriod}, '%Y-%m') as business_period,
               date_format(#{businessPeriod}, '%Y-%m') as payment_month,
               ifnull(bdi.subsidy_standard, 0) as monthly_amount,
               0 as supplement_amount,
               null as supplement_start_month,
               null as supplement_end_month,
               null as supplement_source,
               null as supplement_source_id,
               ifnull(bdi.subsidy_standard, 0) as distribution_amount,
               null as distribution_date,
               bd.grant_org,
               bd.account_name,
               bd.bank_account,
               bd.relation_to_insured
        from benefit_determination_item bdi
                 left join benefit_determination bd on bdi.determination_id = bd.id
                 left join shebao_subsidy_person sp on bd.subsidy_person_id = sp.id
                 left join shebao_street_office sso on sp.street_office_id = sso.id
                 left join shebao_village_committee svc on sp.village_committee_id = svc.id
        where bd.del_flag = '0'
          and bdi.del_flag = '0'
          and bd.approval_status = 'approved'
          and ifnull(bdi.benefit_status, '0') = '0'
          and bdi.subsidy_type = #{subsidyType}
          and not exists (
                select 1
                from shebao_payment_plan_detail pd
                         left join shebao_payment_plan pp on pd.plan_id = pp.id and pp.del_flag = '0'
                where pd.determination_item_id = bdi.id
                  and pd.business_period = #{businessPeriod}
                  and pd.del_flag = '0'
                  <if test="excludePlanId != null">
                    and pd.plan_id &lt;&gt; #{excludePlanId}
                  </if>
          )
        order by bdi.id asc
    </select>

    <!-- 二次发放预览：normal 历史失败且未重发成功；静默排除不合格人员 -->
    <select id="selectSecondPreviewDetails" resultType="com.ruoyi.shebao.dto.PaymentPlanDetailResp">
        select null as id,
               null as plan_id,
               bd.id as determination_id,
               bdi.id as determination_item_id,
               sp.id as subsidy_person_id,
               src.subsidy_type,
               sso.street_name,
               svc.village_name,
               sp.name as person_name,
               coalesce(sp.id_card_no, src.id_card_no) as id_card_no,
               date_format(#{businessPeriod}, '%Y-%m') as business_period,
               date_format(#{businessPeriod}, '%Y-%m') as payment_month,
               0 as monthly_amount,
               0 as supplement_amount,
               null as supplement_start_month,
               null as supplement_end_month,
               null as supplement_source,
               null as supplement_source_id,
               ifnull(src.distribution_amount, 0) as distribution_amount,
               null as distribution_date,
               bd.grant_org,
               bd.account_name,
               bd.bank_account,
               bd.relation_to_insured,
               null as distribution_result,
               null as fail_reason,
               src.id as sourceDetailId,
               null as retryCount,
               null as retryStatus,
               date_format(src.business_period, '%Y-%m') as originalBusinessPeriod
        from shebao_payment_plan_detail src
                 inner join shebao_payment_plan src_plan on src_plan.id = src.plan_id and src_plan.del_flag = '0'
                 inner join shebao_subsidy_person sp
                            on ifnull(sp.del_flag, '0') = '0'
                           and (
                                 (src.subsidy_person_id is not null and sp.id = src.subsidy_person_id)
                                 or (src.subsidy_person_id is null and sp.id_card_no = src.id_card_no)
                               )
                 inner join benefit_determination bd
                            on bd.subsidy_person_id = sp.id
                           and bd.del_flag = '0'
                           and bd.approval_status = 'approved'
                 inner join benefit_determination_item bdi
                            on bdi.determination_id = bd.id
                           and bdi.del_flag = '0'
                           and bdi.subsidy_type = #{subsidyType}
                           and ifnull(bdi.benefit_status, '0') = '0'
                 left join shebao_street_office sso on sp.street_office_id = sso.id
                 left join shebao_village_committee svc on sp.village_committee_id = svc.id
        where src.del_flag = '0'
          and src_plan.determination_type = 'normal'
          and src.distribution_result = 'failed'
          and src.business_period &lt; #{businessPeriod}
          and src.subsidy_type = #{subsidyType}
          and (src.retry_status is null or src.retry_status = '' or src.retry_status &lt;&gt; 'retry_success')
          and bd.grant_org is not null and bd.grant_org &lt;&gt; ''
          and bd.account_name is not null and bd.account_name &lt;&gt; ''
          and bd.bank_account is not null and bd.bank_account &lt;&gt; ''
          and bdi.id = (
                select max(bdi2.id)
                from benefit_determination_item bdi2
                         inner join benefit_determination bd2
                                    on bd2.id = bdi2.determination_id
                                   and bd2.del_flag = '0'
                                   and bd2.approval_status = 'approved'
                where bd2.subsidy_person_id = sp.id
                  and bdi2.del_flag = '0'
                  and bdi2.subsidy_type = #{subsidyType}
                  and ifnull(bdi2.benefit_status, '0') = '0'
          )
          and not exists (
                select 1
                from shebao_payment_plan_detail pd
                         inner join shebao_payment_plan pp on pd.plan_id = pp.id and pp.del_flag = '0'
                where pd.source_detail_id = src.id
                  and pd.del_flag = '0'
                  and pp.determination_type = 'second'
                  <if test="excludePlanId != null">
                    and pd.plan_id &lt;&gt; #{excludePlanId}
                  </if>
          )
        order by src.business_period asc, src.id asc
    </select>

    <update id="incrementRetryCount">
        update shebao_payment_plan_detail
        set retry_count = ifnull(retry_count, 0) + 1
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="decrementRetryCount">
        update shebao_payment_plan_detail
        set retry_count = greatest(0, ifnull(retry_count, 0) - 1)
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="markRetrySuccessBySourceDetailIds">
        update shebao_payment_plan_detail
        set retry_status = 'retry_success'
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="selectFailureList" resultType="com.ruoyi.shebao.dto.PaymentPlanFailureListResp">
        select d.id as id,
               d.plan_id as planId,
               p.batch_no as batchNo,
               date_format(d.business_period, '%Y-%m') as businessPeriod,
               d.subsidy_type as subsidyType,
               d.person_name as personName,
               d.id_card_no as idCardNo,
               d.distribution_amount as distributionAmount,
               d.bank_account as bankAccount,
               d.account_name as accountName,
               d.grant_org as grantOrg,
               d.fail_reason as failReason,
               d.village_name as villageName,
               d.street_name as streetName,
               d.payment_month as paymentMonth
        from shebao_payment_plan_detail d
                 inner join shebao_payment_plan p on p.id = d.plan_id and p.del_flag = '0'
        where d.del_flag = '0'
          and d.distribution_result = 'failed'
          and (d.retry_status is null or d.retry_status = '' or d.retry_status &lt;&gt; 'retry_success')
          and p.finance_status = 'finance_approved'
        <if test="req.batchNo != null and req.batchNo != ''">
            and p.batch_no = #{req.batchNo}
        </if>
        <if test="req.personName != null and req.personName != ''">
            and d.person_name like concat('%', #{req.personName}, '%')
        </if>
        <if test="req.subsidyType != null and req.subsidyType != ''">
            and d.subsidy_type = #{req.subsidyType}
        </if>
        <if test="req.businessPeriodDate != null">
            and d.business_period = #{req.businessPeriodDate}
        </if>
        <if test="req.failReason != null and req.failReason != ''">
            and d.fail_reason like concat('%', #{req.failReason}, '%')
        </if>
        order by p.batch_no desc, d.id asc
    </select>

    <!-- 统计某补贴类型下未复核的登记记录数（登记提交后 approval_status != 'approved' 且未被删除） -->
    <select id="countPendingRegistrationReview" resultType="int">
        <choose>
            <when test="subsidyType == 'land_loss'">
                select count(*) from shebao_land_loss_resident
                where del_flag = '0'
                  and approval_status is not null
                  and approval_status != ''
                  and approval_status != 'approved'
            </when>
            <when test="subsidyType == 'demolition'">
                select count(*) from shebao_demolition_resident
                where del_flag = '0'
                  and approval_status is not null
                  and approval_status != ''
                  and approval_status != 'approved'
            </when>
            <when test="subsidyType == 'expropriatee'">
                select count(*) from shebao_expropriatee_subsidy
                where del_flag = '0'
                  and approval_status is not null
                  and approval_status != ''
                  and approval_status != 'approved'
            </when>
            <when test="subsidyType == 'village_official'">
                select count(*) from shebao_village_official
                where del_flag = '0'
                  and approval_status is not null
                  and approval_status != ''
                  and approval_status != 'approved'
            </when>
            <otherwise>
                select 0
            </otherwise>
        </choose>
    </select>

    <!-- 统计某补贴类型下未审核通过的核定记录数（提交复核但尚未通过） -->
    <select id="countPendingDeterminationApproval" resultType="int">
        select count(*)
        from benefit_determination bd
        join benefit_determination_item bdi on bdi.determination_id = bd.id and bdi.del_flag = '0'
        where bd.del_flag = '0'
          and bd.approval_status is not null
          and bd.approval_status != ''
          and bd.approval_status != 'approved'
          and bdi.subsidy_type = #{subsidyType}
    </select>

    <!-- 居民查询：预发放(pre) / 发放记录(paid)，按 subsidy_person_id -->
    <select id="selectResidentPaymentDetails" resultType="com.ruoyi.shebao.dto.ResidentPaymentDetailResp">
        select d.id,
               d.plan_id as planId,
               p.batch_no as batchNo,
               p.determination_type as determinationType,
               d.subsidy_person_id as subsidyPersonId,
               d.subsidy_type as subsidyType,
               d.street_name as streetName,
               d.village_name as villageName,
               d.person_name as personName,
               d.id_card_no as idCardNo,
               date_format(d.business_period, '%Y-%m') as businessPeriod,
               d.monthly_amount as monthlyAmount,
               d.supplement_amount as supplementAmount,
               date_format(d.supplement_start_month, '%Y-%m') as supplementStartMonth,
               date_format(d.supplement_end_month, '%Y-%m') as supplementEndMonth,
               d.distribution_amount as distributionAmount,
               date_format(d.distribution_date, '%Y-%m-%d') as distributionDate,
               d.grant_org as grantOrg,
               d.account_name as accountName,
               d.bank_account as bankAccount,
               d.relation_to_insured as relationToInsured,
               d.fail_reason as failReason,
               p.distribution_status as planDistributionStatus,
               d.distribution_result as distributionResult,
               d.source_detail_id as sourceDetailId,
               d.retry_count as retryCount,
               d.retry_status as retryStatus,
               date_format(src.business_period, '%Y-%m') as originalBusinessPeriod,
               case
                   when #{mode} = 'pre' then null
                   when ifnull(p.distribution_status, '') &lt;&gt; 'completed' then 'distributing'
                   when d.distribution_result = 'failed'
                        and ifnull(d.retry_status, '') = 'retry_success' then 'retry_success'
                   when d.distribution_result = 'failed' then 'failed'
                   else 'paid'
               end as payStatus
        from shebao_payment_plan_detail d
                 inner join shebao_payment_plan p on p.id = d.plan_id and p.del_flag = '0'
                 left join shebao_payment_plan_detail src on src.id = d.source_detail_id
        where d.del_flag = '0'
          and d.subsidy_person_id = #{subsidyPersonId}
          <choose>
              <when test="mode == 'pre'">
                  and (p.finance_status is null or p.finance_status = '' or p.finance_status &lt;&gt; 'finance_approved')
              </when>
              <otherwise>
                  and p.finance_status = 'finance_approved'
              </otherwise>
          </choose>
        order by d.id desc
    </select>

    <!-- 补贴发放记录（全局）：finance_approved + 派生 payStatus -->
    <select id="selectDistributionRecordList" resultType="com.ruoyi.shebao.dto.ResidentPaymentDetailResp">
        select d.id,
               d.plan_id as planId,
               p.batch_no as batchNo,
               p.determination_type as determinationType,
               d.subsidy_person_id as subsidyPersonId,
               d.subsidy_type as subsidyType,
               d.street_name as streetName,
               d.village_name as villageName,
               d.person_name as personName,
               d.id_card_no as idCardNo,
               date_format(d.business_period, '%Y-%m') as businessPeriod,
               d.monthly_amount as monthlyAmount,
               d.supplement_amount as supplementAmount,
               date_format(d.supplement_start_month, '%Y-%m') as supplementStartMonth,
               date_format(d.supplement_end_month, '%Y-%m') as supplementEndMonth,
               d.distribution_amount as distributionAmount,
               date_format(d.distribution_date, '%Y-%m-%d') as distributionDate,
               d.grant_org as grantOrg,
               d.account_name as accountName,
               d.bank_account as bankAccount,
               d.relation_to_insured as relationToInsured,
               d.fail_reason as failReason,
               p.distribution_status as planDistributionStatus,
               d.distribution_result as distributionResult,
               d.source_detail_id as sourceDetailId,
               d.retry_count as retryCount,
               d.retry_status as retryStatus,
               date_format(src.business_period, '%Y-%m') as originalBusinessPeriod,
               case
                   when ifnull(p.distribution_status, '') &lt;&gt; 'completed' then 'distributing'
                   when d.distribution_result = 'failed'
                        and ifnull(d.retry_status, '') = 'retry_success' then 'retry_success'
                   when d.distribution_result = 'failed' then 'failed'
                   else 'paid'
               end as payStatus
        from shebao_payment_plan_detail d
                 inner join shebao_payment_plan p on p.id = d.plan_id and p.del_flag = '0'
                 left join shebao_payment_plan_detail src on src.id = d.source_detail_id
        where d.del_flag = '0'
          and p.finance_status = 'finance_approved'
          <if test="req.businessPeriod != null and req.businessPeriod != ''">
              and date_format(d.business_period, '%Y-%m') = #{req.businessPeriod}
          </if>
          <if test="req.determinationType != null and req.determinationType != ''">
              and p.determination_type = #{req.determinationType}
          </if>
          <if test="req.subsidyType != null and req.subsidyType != ''">
              and d.subsidy_type = #{req.subsidyType}
          </if>
          <if test="req.grantOrg != null and req.grantOrg != ''">
              and d.grant_org = #{req.grantOrg}
          </if>
          <if test="req.idCardNo != null and req.idCardNo != ''">
              and d.id_card_no like concat('%', #{req.idCardNo}, '%')
          </if>
          <if test="req.personName != null and req.personName != ''">
              and d.person_name like concat('%', #{req.personName}, '%')
          </if>
          <if test="req.batchNo != null and req.batchNo != ''">
              and p.batch_no like concat('%', #{req.batchNo}, '%')
          </if>
          <if test="req.payStatus != null and req.payStatus != ''">
              and (
                  case
                      when ifnull(p.distribution_status, '') &lt;&gt; 'completed' then 'distributing'
                      when d.distribution_result = 'failed'
                           and ifnull(d.retry_status, '') = 'retry_success' then 'retry_success'
                      when d.distribution_result = 'failed' then 'failed'
                      else 'paid'
                  end
              ) = #{req.payStatus}
          </if>
        order by d.id desc
    </select>

    <select id="countUndeletedBySubsidyPersonId" resultType="int">
        select count(*)
        from shebao_payment_plan_detail d
                 inner join shebao_payment_plan p on p.id = d.plan_id and p.del_flag = '0'
        where d.del_flag = '0'
          and d.subsidy_person_id = #{subsidyPersonId}
    </select>
</mapper>
